auto
node_modules
dist
.DS_Store
*~
*.aux
*.bak
*.bbl
*.blg
*.dvi
*.glo
*.gls
*.idx
*.ilg
*.ind
*.log
*.out
*.thm
*.toc
*.lof
*.lot
*.loe
*.vrb
*.hd
*.fdb_latexmk
*.fls
*.doc
*.pdf
*.toe
*.xdv
*.zip
/2.硕士论文撰写格式相关文件/
/GPATH
/GRTAGS
/GTAGS
/_region_.prv/
/_region_.synctex.gz
/_region_.tex
/dtx-style.sty
/figures/bthesistitle.eps
/figures/hitlogo.eps
/hithesis.cls
/linkfigure
/main.ist
/main.synctex.gz
/hithesis.ist
/mainart.ist
/mainart.synctex.gz
/mainartplus.synctex.gz
.syctex.gz
*.gz
/examples/hitart/reportplus/dtx-style.sty
/examples/hitart/reportplus/hithesis.bst
/examples/hitart/reportplus/hithesis.cfg
/examples/hitart/reportplus/hithesisartplus.cls
/examples/hitart/reports/dtx-style.sty
/examples/hitart/reports/hithesis.bst
*.cfg
*.cls
*.sty
*.bst
*.ist
hithesis.bst
*.ins
/bthesistitle.eps
*.eps
